// This static resource should be uploaded to Salesforce with the name "cssStyle". 
// Changes the style and size of the LWC modal window.
.slds-modal__content{
    position : relative !important;
	max-height : unset !important;

}
.slds-modal__container{
    max-width: 95rem !important;
    width:95% !important;
	min-width : 800px !important;
}
.slds-p-around--medium{
    padding : 0 !important;
	max-height : unset !important;
}
.cuf-content{
    padding : 0 !important;
}

.toastMessage.forceActionsText{
     white-space : pre-line !important;
}
